<footer class="container-sm container-md container-lg">
  <nav class="row">
      <p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
  </nav>
  <p>Copyright © <%= DateTime.now.year %> Ruby Course</p>
<footer/>
